header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}
.MainNavContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  width: 100%;
  z-index: 1;
  background: transparent;
}
.LogoDiv {
}
.Logo {
  height: 3rem;
}
.NavLinksDiv {
}
.NavLinks {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
}
.NavLinks li {
  padding: 25px;
  font-size: 1em;
  color: black;
  cursor: pointer;
}
.NavLinks li:hover {
  font-weight: 600;
}
.NavIcons {
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
  justify-self: end;
}
.NavIcons img {
  height: 1.8em;
}
.NavIcons img:hover {
  height: 2.2rem;
  transition: 0.3s;
}
